*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #d3c6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 900px;
    height: 500px;
    background: #fff;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

/* LEFT SIDE */
.left{
    background: linear-gradient(135deg, #6C4EE3, #8C63FF);
    color: #fff;
    padding: 60px 50px;
    position: relative;
}

.left h1{
    font-size: 38px;
    margin-bottom: 15px;
}

.left p{
    font-size: 17px;
    opacity: 0.9;
}

/* RIGHT SIDE */
.right{
    padding: 60px 50px;
}

.right h2{
    margin-bottom: 25px;
    font-size: 28px;
    color: #333;
}

form input{
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.options{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}

.options a{
    color: #7b5bff;
    text-decoration: none;
}

.btn{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: #7b5bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    background: #6a4de8;
}

.create{
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.create a{
    color: #7b5bff;
    text-decoration: none;
    font-weight: bold;
}

/* RESPONSIVE */
@media(max-width: 780px){
    .container{
        grid-template-columns: 1fr;
        height: auto;
    }
    .left{
        text-align: center;
        padding: 40px;
    }
}